<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DesktopCapture.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="To" serializeAs="String">
                <value>youremail@yourdomain.com</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Email user name</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Email password</value>
            </setting>
            <setting name="Smtp" serializeAs="String">
                <value>SMTPIP</value>
            </setting>
            <setting name="LastFileNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MailSendDelay" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="LastSentFileNo" serializeAs="String">
                <value>0</value>
            </setting>
        </DesktopCapture.Properties.Settings>
    </userSettings>
</configuration>